<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lookao</title>

    <link rel="stylesheet" href="http://localhost:3030/public/style-home.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Lookao<i  class="fa-solid fa-paw-simple"></i></a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Inicio
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>Sobre
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            <i class="uil uil-file nav__icon"></i>Como funciona?
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i>Doe
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Cadastre-se
                        </a>
                    </li>
                    <i class="uil uil-times nav__close" id="nav-close"></i>
                </ul>
            </div>
            <div class="nav__btns">
                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-airplay"></i>
                </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="home section" id="home">
         <div class="home__container container">
            <div class="home__content grid">
                <div class="home__social">
                    <a href="" class="home__social-icon">                        
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                    <a href="" class="home__social-icon">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="" class="home__social-icon">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
        
                <div class="home__img">
                    <?xml version="1.0" standalone="no"?>
                    <svg class="home__blob"viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0" mask-type="alpha">
                        <path fill="#C28F61" d="M59.9,-46.1C74.1,-29.9,79.8,-5.2,74.6,16.9C69.4,38.9,53.4,58.3,34.2,65.3C15.1,72.3,-7.3,66.9,-24.5,56.5C-41.7,46,-53.7,30.5,-61.3,10.3C-68.9,-9.9,-72,-34.9,-61,-50.4C-50,-65.9,-25,-72,-1.1,-71.1C22.8,-70.2,45.6,-62.4,59.9,-46.1Z" transform="translate(100 100)" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path fill="#C28F61" d="M59.9,-46.1C74.1,-29.9,79.8,-5.2,74.6,16.9C69.4,38.9,53.4,58.3,34.2,65.3C15.1,72.3,-7.3,66.9,-24.5,56.5C-41.7,46,-53.7,30.5,-61.3,10.3C-68.9,-9.9,-72,-34.9,-61,-50.4C-50,-65.9,-25,-72,-1.1,-71.1C22.8,-70.2,45.6,-62.4,59.9,-46.1Z" transform="translate(100 100)" />
                        <image class="home__blob-img" x="22" y='7' xlink:href="http://localhost:3030/public/img/pet-home-removed.png"/>
                    </g>
                
                    </svg>
                </div>
                <div class="home__data">
                    <h1 class="home__title">Hi, BRo</h1>
                    <h1 class="home__subtitle">Subtitulo aqui</h1>
                    <p class="home__description">
                        Contrary to popular belief, Lorem Ipsum is not simply random text.
                    </p>
                    <a href="http://localhost:3030/search" class="button button--flex">
                        <i class="uil uil-search button__icon"></i>Vamos encontra-lo?
                    </a>
                </div>
            </div>
            <div class="home__scroll-button button--flex">
                <i class="uil uil-mouse-alt-2 home__scroll-mouse"></i>
                <span class="home__scroll-name">Veja Mais</span>
                <i class="uil uil-arrow-down"></i>
            </div>
        </div>
        </section>
    </main>
</body>
<script type="text/javascript" src="http://localhost:3030/public/main.js"></script>

</html>